<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitConnectPro"
        tools:targetApi="31">

        <!-- Login Activity (Main Launcher) -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Admin Dashboard Activity -->
        <activity
            android:name=".activities.admin.AdminDashboardActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.FitConnectPro" />

        <!-- Member Registration Activity -->
        <activity
            android:name=".activities.admin.MemberRegistrationActivity"
            android:exported="false"
            android:label="@string/member_registration"
            android:parentActivityName=".activities.admin.AdminDashboardActivity"
            android:theme="@style/Theme.FitConnectPro">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.admin.AdminDashboardActivity" />
        </activity>

        <!-- Member Management Activity -->
        <activity
            android:name=".activities.admin.MemberManagementActivity"
            android:label="@string/member_management"
            android:theme="@style/Theme.FitConnectPro.NoActionBar"
            android:exported="false" />

        <!-- Trainer Registration Activity -->
        <activity
            android:name=".activities.admin.TrainerRegistrationActivity"
            android:exported="false"
            android:label="@string/trainer_registration"
            android:parentActivityName=".activities.admin.AdminDashboardActivity"
            android:theme="@style/Theme.FitConnectPro">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.admin.AdminDashboardActivity" />
        </activity>

        <!-- Trainer Management Activity -->
        <activity
            android:name=".activities.admin.TrainerManagementActivity"
            android:label="@string/trainer_management"
            android:theme="@style/Theme.FitConnectPro.NoActionBar"
            android:exported="false"
            android:parentActivityName=".activities.admin.AdminDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.admin.AdminDashboardActivity" />
        </activity>

    </application>

</manifest>